.filterButton {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f7f7f7;;
  border-radius: 0.6em;
  color: #383838;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  margin-left: 15px;
  padding: 7px;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  -webkit-transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  &:hover {
    color: #e74c3c;
    outline: 0;
    opacity: 1;
  }
}
