.buyButton {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  margin-left: 5px;
  padding: 0.9em 10px;
  width: 110px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  -webkit-transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  &:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #e74c3c inset;
    opacity: 1;
  }
  &__ActiveCard {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #e74c3c inset;
    opacity: 1;
  }
}

