.content {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
  .slider {
    max-width: 50%;
    margin-right: 30px;
    padding: 35px;
  }
  .devicecard {
   flex-grow: 1;
    text-align: left;
  }
}
