.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1 20%;
  background-color: var(--white);
  border-radius: 15px;
  max-width: 100%;
  min-width: 220px;
  padding: 12px;
  margin: 4px;
  transition: var(--transition);

  img {
    margin: 0 auto;
    max-width: 300px;
    height: 300px;
  }
  h3 {
    margin: 1rem 0;
  }
  li {
    margin-bottom: 0.5rem;
  }
  span {
    margin-left: 0.5rem;
    opacity: 0.5;
    text-transform: uppercase;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
  }
}

.bigCard {
  flex: 1 100%;
}
