.rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  font-size: 20px;
  line-height: 0.75;
  padding: 6px;
  max-width: 130px;

  &__body {
    position: relative;
    &::before {
      content: '★★★★★';
      display: block;
      color: var(--light-gray);
    }
  }

  &__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &::before {
      content: '★★★★★';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: var(--orange);
    }
  }

  &__count {
    padding-left: 10px;
    font-size: 70%;
    color: rgb(48, 48, 48);
    opacity: 1;
  }

  &:hover {
    border-color: var(--green);
    cursor: pointer;
  }
}

// ★
