.carttotal {
  flex-grow: 1;
  margin-left: 25px;
  height: 295px;
  max-width: 33%;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  display: flex;
  flex-direction: column;

  .cartcontent {
    padding: 0 30px;

    .carttotalitems {
      font-weight: 500;
      margin-bottom: 40px;

      li {
        align-items: baseline;
        display: flex;
        margin-bottom: 0.8em;
      }
      li::before {
        content: '';
        border-bottom: 1px dashed rgb(141, 141, 141);
        flex-grow: 1;
        order: 2;
        margin: 0 5px;
      }
      .value {
        order: 3;
      }

      .cartfullprice {
        font-size: 20px;
        font-weight: 500;
      }
    }
    h2 {
      padding: 25px 0 15px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
