.select {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  color: var(--gray);
  background-color: var(--white);
  padding: 12px 20px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
  .delete {
    &:hover {
      color: var(--orange);
      transition: var(--transition);
      cursor: pointer;
    }
  }
}
