.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
  h2 {
    margin-bottom: 1.2em;
  }
  img {
   margin: 0 auto;
   display: block;
   margin-top: 1em;
    max-width: 300px;
    max-height: 300px;
  }
  .description {
   font-size: 16px;
  }
}
