.orderbutton {
  border: 1px solid var(--red);
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  height: 3rem;
  width: 100%;
  color: var(--white);
  background-color: var(--red);
  transition: var(--transition);
  &:hover {
    background-color: var(--bright-red);
  }
}
