.favButton {
  font-size: 20px;
  padding: 0.4em;
  opacity: 0.5;
  color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 0.4em;
  &:hover {
    color: var(--gray);
    background-color: var(--light-gray);
  }
}

.usedFavButton {
  border-color: var(--green);
  color: var(--green);
  opacity: 1;
  &:hover {
    border-color: var(--green);
    color: var(--green);
    background-color: var(--light-red);
    opacity: 1;
  }
}
