.footer {
  background-color: var(--dark-blue);
  color: var(--white);

  ul {
    li {
      display: flex;
      list-style-type: none;
      margin: 20px;

      span {
        margin: 0 10px;
      }
      :hover {
        color: var(--light-blue);
        cursor: pointer;
      }
    }
  }
}
