@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e2e3;
  color: #2c3450;
}

* {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  background: #f5f8f9;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
}

