@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e2e3;
  color: #2c3450;
}

* {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  background: #f5f8f9;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  // max-width: 1080px;
  // height: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.logo {
  height: 4rem;
  width: 4rem;
  margin: 0 5px 0 20px;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.plusBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  height: 2rem;
  width: 2rem;
  color: #ffffff;
  opacity: 0;
  transition: all 0.2s;
}

header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
  ul {
    li {
      display: flex;
      list-style-type: none;
      margin: 20px;

      span {
        margin: 0 10px;
      }
      :hover {
        color: #66aed4;
        cursor: pointer;
      }
    }
  }
}

.content,
.search {
  margin: 0 auto;
  max-width: 1200px;
}
// .content {
//   margin-bottom: 500px;
// }
.search {
  padding: 0 10px;
}

.card {
  flex: 1 20%;
  background-color: #fff;
  border-radius: 15px;
  max-width: 280px;
  min-width: 220px;
  padding: 12px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  transition: all 0.2s;
  img {
    margin: 0 auto;
    width: 190px;
  }
  h5 {
    font-weight: 400;
    font-size: 16px;
  }
  span {
    opacity: 0.5;
    text-transform: uppercase;
  }
  b {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #e74c3c;
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    .first {
      color: #fff;
      box-shadow: 0 0 40px 40px #e74c3c inset;
    }
    .plusBtn {
      opacity: 0.7;
    }
  }
}

.button {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  margin-left: 5px;
  padding: 0.9em 1.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.button:hover {
  color: #fff;
  outline: 0;
}

.first,
.grayButton,
.orderbutton {
  -webkit-transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
  opacity: 1;
}
.orderbutton {
  display: block;
  height: 3rem;
  width: 100%;
  color: #fff;
  background-color: #e74c3c;
  &:hover {
    background-color: #fd5341;
  }
}

.grayButton {
  font-size: 20px;
  padding: 0.4em;
  opacity: 0.5;
  color: gray;
  border: 1px solid gray;
  border-radius: 0.4em;
  &:hover {
    color: gray;
    background-color: #e8e9e9;
  }
}

footer {
  background-color: #2c3450;
  color: #fff;

  ul {
    li {
      display: flex;
      list-style-type: none;
      margin: 20px;

      span {
        margin: 0 10px;
      }
      :hover {
        color: #66aed4;
        cursor: pointer;
      }
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.drawer {
  position: absolute;
  width: 450px;
  // height: 50%;
  padding: 30px;
  right: 0;
  background: #f5f8f9;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);
}

.cartItem {
  background-color: #fff;
  border-radius: 15px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
  p,
  b {
    font-size: 0.9rem;
  }
}
