@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--dark-blue);
}

.locked {
  &::-webkit-scrollbar {
    width: 0px;
  }
}

* {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  background: var(--background);
}

.content {
  background-color: #c5e0ee;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.icon {
  height: 1.3rem;
  width: 1.3rem;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

:root {
  --black: #262626;
  --green: #76bc21;
  --bright-green: #84d423;
  --light-green: #dcfce7;
  --white: #ffffff;
  --orange: #fb923c;
  --light-blue: #66aed4;
  --gray: #808080;
  --light-gray: #e8e9e9;
  --dark-blue: #2c3450;
  --background: #f5f8f9;

  --transition: all 0.2s ease-in-out;
}
