@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--dark-blue);
}

.locked {
  &::-webkit-scrollbar {
    width: 0px;
  }
}

* {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  background: var(--background);
}

#price {
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: var(--black);
}

h1,
h2,
h3 {
  color: var(--light-black);
  font-weight: 700;
}
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

#link {
  color: var(--link);
  &:hover {
    color: var(--orange);
  }
}

.icon {
  height: 1.6rem;
  width: 1.6rem;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

:root {
  --black: #262626;
  --light-black: #333333;
  --green: #76bc21;
  --bright-green: #84d423;
  --light-green: #dcfce7;
  --white: #ffffff;
  --orange: #fb923c;
  --link: #1886ff;
  --activelink: #0053ae;
  --light-blue: #66aed4;
  --gray: #808080;
  --middle-gray: #f5f5f6;
  --light-gray: #e8e9e9;
  --dark-blue: #2c3450;
  --background: #f5f8f9;

  --transition: all 0.2s ease-in-out;
}
