.moreButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  height: 2rem;
  width: 2rem;
  color: var(--white);
  opacity: 0;
  transition: var(--transition);
}

.moreButtonActiveCard {
  opacity: 0.7;
}
